.file-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.file-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden; /* Ensure text doesn't overflow out of the container */
}

.file-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.file-icon {
    font-size: 36px;
    color: #1a73e8;
}

.file-item p {
    margin-top: 10px;
    font-size: 14px;
    color: #202124;
    display: flex;
    justify-content: center;
}

.back-button {
    padding: 0.5rem 1rem;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
}

.back-button:hover {
    background-color: #e0e0e0;
}

.download-icon {
    font-size: 20px;
    color: #4CAF50; /* Green color */
    cursor: pointer;
    margin-top: 10px;
}

.download-icon:hover {
    color: #388E3C;
}