.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100vw; /* Ensuring the header takes full width of the viewport */
    box-sizing: border-box;
}

.header-left {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Allow it to take up the available width */
}

.google-drive-logo {
    font-size: 24px;
    font-weight: bold;
    color: #202124;
    margin-right: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #f9f9f9; /* Light background for the search bar */
    flex-grow: 1; /* Allow the search bar to grow and take full available space */
    margin-left: 10px; /* Space between logo and search bar */
    margin-right: 30px;
}

.pr-10 {
    padding-right: 10px;
}

.search-container input {
    border: none;
    outline: none;
    padding: 5px;
    background-color: #f9f9f9; /* Match the background color of the search bar */
    color: #202124; /* Text color */
    width: 100%; /* Make the input field take up full space of the container */
}

.search-container svg {
    color: #aaa;
    margin-right: 8px;
}

.header-right {
    display: flex;
    align-items: center;
}

.new-button {
    background-color: #1a73e8;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.new-button svg {
    margin-right: 8px;
}

.new-button:hover {
    background-color: #1669c1;
}

.search-container {
    position: relative; /* To position the search results absolutely within this container */
}

.search-results {
    position: absolute; /* Position it directly under the input */
    top: 100%; /* Align below the input */
    left: 0;
    background-color: #ffffff; /* Set to white for better readability */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd; /* Match the border style of the search bar */
    margin-top: 5px; /* Space between the input and results */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-height: 200px;
    overflow-y: auto;
    width: 100%; /* Same width as the search bar */
    z-index: 10; /* Ensure it appears above other elements */
    color: black;
}

.search-results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-results li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f1f1f1; /* Highlight effect on hover */
}

.search-results li span {
    margin-right: 5px;
}
