.sidebar {
    width: 200px;
    padding-top: 20px;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    height: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #202124;
    transition: background-color 0.3s;
}

.sidebar li:hover {
    background-color: #f1f3f4;
}

.sidebar svg {
    margin-right: 10px;
    font-size: 18px;
    color: #1a73e8;
}
